.App {
  text-align: center;
  background-color: #fafcf7;
  height: 175vh;
}

.linkClass {
  list-style-type: none;
  background-color: #cde6d1;
  height: 65px;
  font-size: 20px;
}

#title {
  float: left;
  margin-right: 50px;
  margin-top: 5px;
}

.navLinks {
  float: left;
  margin-top: 15px;
}

.navLinks:hover {
}

.shoppingInfoContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

#name {
  float: left;
  margin-left: 100px;
  margin-top: 7px;
}

#nameDropdown {
  background-color: #89aa9f;
  margin-left: -1170px;
  margin-bottom: 20px;
}

.orderInputs {
  /* background-color: #cde6d1; */
  width: 650px;
  margin-left: 75px;
  float: left;
}

.shoppingListContainer {
  width: 550px;
  margin-left: 50px;
  float: left;
  margin-top: -40px;
}

input {
  font-size: 15px;
  width: 25px;
  height: 25px;
}

.orderInput {
  float: left;
  margin-top: 10px;
}

.noInput {
  background-color: grey;
  width: 40px;
  height: 40px;
  float: left;
}

.totalUnits {
  margin-top: 5px;
  margin-left: 30px;
}

.unitQtyNo {
  margin-top: 5px;
  margin-left: 15px;
}

.unitQtyInput {
  margin-top: 5px;
  margin-left: 15px;
  height: 40px;
  width: 40px;
}

.absQtyNo {
  margin-top: 5px;
  margin-left: 35px;
}

.absQtyInput {
  margin-top: 5px;
  margin-left: 35px;
  height: 40px;
  width: 40px;
}

.percentage {
  float: left;
  margin-left: 5px;
  margin-top: 10px;
}

.dollarSign {
  float: left;
  margin-right: 2px;
}

.youPayAmount {
  float: left;
  margin-top: 16px;
}

.addButton {
  height: 40px;
  width: 40px;
  margin-top: 8px;
}

.deleteButton {
  height: 40px;
  width: 60px;
  margin-top: 5px;
  margin-left: -8px;
  margin-bottom: 5px;
}

#footer{
  background-color: #fafcf7;
  height: 50px;
}